.rodape {
  grid-column: 2 / 5; /* para ficar alinhado ao menu */
  background-color: $cor-menu;

  @include margem-menu-e-rodape;

  @include d(m) {
    grid-column: 1;

    margin-bottom: 0px;
  }
}

.rodape p {
  @include menu-e-rodape;

  padding: 20px;
}
