.container-slide {
  /* quando for estourado o container
  será escondido o conteúdo que está
  estourando o container */
  overflow: hidden;
  cursor: grab;
}

.slide {
  display: flex;
  grid-column: 1 / -1; // pegando de ponta a ponta as colunas
}

.slide:hover {
  /* dizendo que a proprieda tranform irá mudar
     o desempenho se torna melho com isso */
  will-change: transform;
}

.slide li {
  flex: 1 0 60vw; /* definindo shrink como 0 para não encolher e a base como 60% da largura da tela */
  max-width: 600px;
  margin: 0 20px;

  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  opacity: 0.8;
  transform: scale(0.8);
  transition: 0.3s;
}

.slide li.ativo {
  opacity: 1;
  /* tamanho que deverá aparecer 100% */
  transform: scale(1);
}

.paginacao-personalizada ul {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  grid-column: 1 / -1; // pegando de ponta a ponta as colunas
}

.paginacao-personalizada li {
  cursor: pointer;
  width: 50px;
  height: 50px;

  overflow: hidden; /* para esconder o texto */

  opacity: 0.8;
  transform: scale(0.8);

  border-radius: 50%;
  margin: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);

  transition: 0.3s;

  @include d(m) {
    width: 40px;
    height: 40px;
  }
}

.paginacao-personalizada li:hover,
.paginacao-personalizada li.ativo {
  opacity: 1;
  transform: scale(1);
}
